*{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

h1
{
    color: red;
}
h2{
    color: blueviolet;
}
p{
    color: aqua;
}
 .article_fleur{
    display: flex;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
 }


